div {
    font-size: 30px;
    font-weight: bold;
    color: red;
    text-align: center;
    text-transform: capitalize; /*Кожне слово з Великої букви*/
    line-height: 2; /*Відстань між рядками*/
    letter-spacing: 10px;
}

.block {
    width: 100px;
    height: 100px;
    background: bisque;
    padding: 20px;
    margin: 20px;
}

.imp {
    color: red !important;
}

.lower {
    color: red;
}

.lower {
    color: blue;
}

/* Види селекторів */

* {
    margin: 0;
    padding: 0;
}

.ccc {
    color: green;
}

#ppp {
    color: yellow;
}

.block2 span {
    color: brown;
}

.block2 > span {
    color: purple;
}

.block2 + span {
    color: orange;
}

.psevdo {
    width: 200px;
    height: 200px;
    background: red;
    color: black;
}
.psevdo:hover {
    background: yellow;
}

.psevdo:active {
    background: grey;
}

li:nth-child(2n+2) {
    color: red;
}

li.item,
li#item {
    color: green;
}