* {
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    color: red;
}
.block {
    border: 5px solid black;
    width: 900px;
    height: 350px;
    margin: 0 auto;
    padding: 10px;
}

img {
    width: 400px;
    height: 300px;
}

.img {
    float: left;
}

.container {
    border: 3px solid black;
}

.blockOne {
    border: 3px solid red;
    width: 50%;
    float: left;
}

.blockTwo {
    border: 3px solid green;
    clear: both;
}

.blockThree {
    width: 500px;
    float: left;
}

.blockFour {
    margin-left: 500px;
}

.paragraph {
    visibility: hidden;
}

.paragraphTwo {
    display: none;
}

.parent {
    margin-top: 10px;
    font-size: 0; /* це щоб забрати відступи */
}

.child {
    width: 300px;
    display: inline-block;
    background: lightblue;
    font-size: 15px; /* це щоб появився текст */
}

.bg-black {
    color: white;
    background: black;
    height: 200px;
    position: relative;
    top: 20px;
}

.bg-yellow {
    background: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;

}
.bg-red {
    position: fixed;
    top: 100px;
    left: 20px;
    background: red;
    width: 100px;
    height: 100px;
}