* {
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    color: red;
}
.block {
    border: 5px solid black;
    width: 900px;
    height: 350px;
    margin: 0 auto;
    padding: 10px;
}

img {
    width: 400px;
    height: 300px;
}

.img {
    float: left;
}

.container {
    border: 3px solid black;
}

.blockOne {
    border: 3px solid red;
    width: 50%;
    float: left;
}

.blockTwo {
    border: 3px solid green;
    clear: both;
}

.bg-black {
    background: black;
    height: 200px;
    position: relative;
}

.bg-yellow {
    background: yellow;
    width: 100px;
    height: 100px;

}
.bg-red {
    background: red;
    width: 100px;
    height: 100px;
}