* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
}

.flex {
    display: flex;
}

.brandTextColor {
    color: #900022;
}

.textStyle {
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

header {
    height: 400px;
}

.topFirstNav {
    height: 33px;
    text-align: center;
}

.topFirstNav ul {
    padding-top: 10px;
}

.topFirstNav li {
    display: inline-block;
    padding: 0 8px;
}

.topFirstNav a {
    color: black;
    font-size: 11px;
}

.header {
    height: 88px;
    padding: 12px 0;
    background: #900022;
}

.wrapperHeader {
    justify-content: space-between;
    height: 100%;
}

.leftMenu > a {
    height: 100%;
    padding-left: 12px;
    justify-content: flex-start;
    align-items: center;
}

.iconHamburger {
    height: 30px;
    width: 30px;
}

.optionsText {
    padding-left: 12px;
    color: white;
    font-size: 12px;
}

.mainLogo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Logo > a {
    color: white;
    font-family: serif;
    font-size: 30px;
    text-transform: uppercase;
}

.mainLogoInfo {
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    text-transform: uppercase;
}

.rightOptions {
    padding-right: 12px;
    justify-content: flex-end;
    align-items: center;
}

.language {
    padding-right: 12px;
    color: white;
    font-size: 12px;
}

.btn{
    background: rgb(179, 12, 29);
    height: 36px;
    width: 80px;
    border: 3px solid white;
    border-radius: 20px;
    text-align: center;
}

.btn> span {
    position: relative;
    top: 5px;
    color: white;
    font-size: 12px;
}

.topSecondNav {
    height: 37px;
    text-align: center;
}

.topSecondNav ul {
    padding-top: 10px;
    padding-bottom: 8px;
}

.topSecondNav li {
    display: inline-block;
    padding: 0 8px;
}

.topSecondNav a {
    color: black;
    font-size: 14px;
}