

h3 {
    margin-left: 50px;
}
img {
    width: 600px;
    margin-left: 50px;
}
.carbonara li{
    width: 600px;
    margin-left: 50px;
}

.btn {
    width: 600px;
    margin-left: 25%;
    border: 2px solid darkgray;
    text-align: center;
    background: yellow;
    font-weight: bold;
}