*{
    margin: 0;
}

.bg {
    background: #efdaad;
}

.container {
    display: inline-block;
    height: 200px;
    width: 100%;
}
.logo {
    display: inline-block;
    float: left;
    height: 200px;
}
#TOP {
    display: inline-block;
    float: left;
    margin-top: 90px;
    margin-left: 50px;
}

.centerNav {
    text-align: center;
}

.centerNav li{
    display: inline;
    margin: 50px;
}

.icons{
    display: inline-block;
    float: left;
    margin-left: 100px;
}

.icons img {
    height: 100px;
    display: inline-block;
    float: left;
    margin: 50px;

}

main {
    margin-top: 50px;
    padding-left: 50px;
    width: 1000px;
}

h3 {
    text-align: center;
}

.img {
    width: 600px;
    margin-left: 200px;
}

.imgCarbonara {
    width: 600px;
    margin-left: 50px;
}

.carbonara li{
    width: 600px;
    margin-left: 50px;
}

.btn {
    width: 600px;
    margin-left: 25%;
    border: 2px solid darkgray;
    text-align: center;
    background: yellow;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}